.TabelaProdutos th {
    background-color: #006586;
    color: #fff
}

.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}